/* =======================
    RESET STYLES
======================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =======================
    CONFIGURAÇÃO DE CORES DA MARCA (TalentForge)
======================= */
:root {
    --color-main: #3498DB;
    --color-accent: #E74C3C; 
    --color-text-dark: #2C3E50;
    --color-text-light: #ffffff;
    --color-background: #f2f1ef;
}

/* =======================
    ESTILOS GERAIS
======================= */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-background);
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* =======================
    ESTILOS DO CABEÇALHO
======================= */

header {
    background-color: var(--color-background);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-section {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;

}

.hero-content {
    max-width: 800px;
}

.menu-list li a {
    list-style: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 5px 0;
    transition: color 0.3s ease;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 25px;
}

.menu-list li a:hover {
    color: var(--color-accent);
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-main);
}

/* --- Botões de Ação (Login/Signup) --- */

.header-actions {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.header-actions button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn {
    border: 1px solid var(--color-main);
    color: var(--color-main);
    text-transform: uppercase;
}

